/*début header*/

h1 {
  font-size: 50px;
  color: #ffffff;
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}

.Nom {
  position: absolute;
  left: 21vw;
  top: 150px;
  height: auto;
  width: auto;
}

header {
  background-image: url(Assets/47206-report-du-second-concert-de-metallica-au-stade-de-france-le-19-05-2023.jpg.jpg);
  background-size: cover; /* Etirer image */
  background-repeat: no-repeat;
  border-style: double;
  border-radius: 30px;
  height: 230px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation {
  list-style: none;
  display: flex;
  text-align: center;
  top: 20px;
  margin-left: 25vw;
  position: absolute; /*changer la position du menu pour qu'elle reste en place*/
}

.bouton {
  margin-inline: 8px; /* espace entre boutons */
  background-color: rgb(5, 0, 12);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-style: groove;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-spacing: 30px;
  padding: 10px 17px;
  box-shadow: 4px 4px 9px 2px #868686;
  display: inline-block;
}

.membres {
  border-radius: 50%;
  border: 10px double white;
  width: 15vw;
  height: 15vw;
  top: 150px;
  left: 3vw;
  position: absolute;
  display: flex;
}

.fans {
  margin-left: 10px;
}

/*Fin header*/

/*Début main*/

.top_titres {
  float: right;
}

body {
  color: white;
  background-repeat: repeat-x;
  background: #242424;
  background-size: 400px;
  overflow-x: hidden;
}


.biographie {
  float: left;
  display: grid;
  position: relative;
  top: 150px;
  width: 600px;
  height: 300px;
  font-size: 20px;
  text-align: center;
}

.bio_plus {
  flex-direction: row;
  overflow: scroll;
  height: 300px;
  overflow-x: auto;
  overflow-y: auto;
  font-size: 17px;
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
  background-color: #1d1d1d;
  font-size: 20px;
}

a {
  color: rgb(210, 221, 108);
  text-decoration: none;
  font-weight: bolder;
}

.albums {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  flex-direction: row;
  display: flex;
  height: 410px;
  width: 100%;
  background-color: #1d1d1d;
  background-size: contain;
  border: solid 4px #111111;
}

.albums h2 {
  text-align: center;
  margin-top: 140px;
  padding: 30px;
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.albums .album {
  text-align: center;
}

.albums div img {
  height: auto;
  width: 320px;
}


/*Fin main*/

/*Début footer*/

footer {
  background-color: black;
  border-style: double;
  border-color: rgb(47, 46, 46);
  height: 90px;
  width: 100%;
  margin-top: 2500px;
}

.mail {
  text-decoration: none;
  color: aliceblue;
  position: relative;
  margin: 10px;
}

.Logos {
  position: relative;
  padding-left: 80%;
  padding-bottom: 20px;
  display: flex;
}
/*Fin footer*/
