@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

h1, .albums h2 {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  color: #ffffff;
}

.Nom, .membres {
  position: absolute;
}

.Nom {
  left: 21vw;
  top: 150px;
}

.membres {
  top: 150px;
  left: 3vw;
  border: 10px double white;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  display: flex;
}

header {
  background: url(Assets/47206-report-du-second-concert-de-metallica-au-stade-de-france-le-19-05-2023.jpg.jpg) no-repeat center/cover;
  border: double;
  border-radius: 30px;
  height: 230px;
  margin: 20px;
}

.top_titres {
  float: right;
  margin-right: 20px;
}

.navigation {
  list-style: none;
  display: flex;
  text-align: center;
  top: 30px;
  margin-left: 25vw;
  position: absolute;
}

.bouton {
  margin-inline: 8px;
  background-color: rgb(5, 0, 12);
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: groove;
  border-radius: 10px 0 10px 10px;
  padding: 10px 17px;
  box-shadow: 4px 4px 9px 2px #868686;
  display: inline-block;
}

body {
  color: white;
  background: #10000d;
  overflow-x: hidden;
}

.biographie {
  float: left;
  display: grid;
  position: relative;
  top: 150px;
  width: 600px;
  height: 300px;
  font-size: 20px;
  text-align: center;
}

.bio_plus, .albums {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
  background-color: #10000d;
}

.bio_plus {
  font-size: 17px;
}

a {
  color: rgb(210, 221, 108);
  text-decoration: none;
  font-weight: 900;
}

.albums {
  height: 410px;
  width: 100%;
  background-color: #22011c;
  border: solid 4px #ffffff;
}

.albums .album {
  text-align: center;
  margin-top: 20px;
}

.albums div img {
  width: 320px;
  border: solid 1px white;
}

footer {
  background-color: black;
  border: double rgb(47, 46, 46);
  height: 90px;
  width: 100%;
  margin-top: 500px;
}

.mail {
  text-decoration: none;
  color: aliceblue;
  margin: 10px;
}

.Logos {
  padding-left: 80%;
  padding-bottom: 20px;
  display: flex;
}
